@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .App {
    background: url("../public/bg.png") no-repeat;
    background-size: cover;
  }

  .card {
    background: rgba(211, 235, 255, 0.57);
    backdrop-filter: blur(5px);
  }
}
